@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

svg {
  border: none;
  outline: none;
}

/********Navigation********/
.navbar {
  background: #0b1b2d;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: white !important;
}

.navbar-nav li a:hover {
  color: #ff4040 !important;
  transition: color ease-in-out 0.2s;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 1030;
}

/***mobile menu icon**/
.navbar-toggler {
  outline: none;
}

#hero {
  background: #0b1b2d;
  color: #fff;
  position: relative;
  padding-bottom: 1.28em;
  margin-bottom: 80px;
  z-index: 111999;
}
#hero .title {
  font-family: "Saira Condensed", sans-serif;
  font-size: 4.575rem;
}
#hero .sub-title {
  font-family: "Saira Condensed", sans-serif;
}
#hero .red {
  color: #ff4040;
}
#hero .btn {
  background: #ff4040;
  border: none;
  font-family: "Inter", sans-serif;
}
#hero .btn:hover {
  background: #0b1b2d !important;
  border: 1px solid #ff4040;
  transition: background ease-in-out 0.5s;
}
#hero .btn a {
  text-decoration: none;
  color: #fff;
}
#hero .btn a:hover {
  text-decoration: none;
}
#hero .btm-img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 0;
  z-index: -999;
}

#about {
  margin-bottom: 50px;
  padding-top: 50px;
}
#about p {
  line-height: 2em;
}

#services {
  margin-bottom: 50px;
  padding: 80px 0;
}
#services .card {
  background: #0b1b2d;
  color: #fff;
  width: 18rem;
  border: none;
  font-size: 0.85em !important;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-left: 30px;
}
#services .card .icons {
  width: 60px;
  height: 60px;
}
#services .card p {
  line-height: 1.5;
}
#services .card:hover {
  transform: scale(1) !important;
  background: linear-gradient(90deg, rgb(10, 26, 45) 0%, rgba(10, 26, 45, 0.8744747899) 100%);
  transition: background ease-in 0.3s;
}
#services .card .uniq {
  margin-inline: auto !important;
}

#testimonial {
  background: #0b1b2d;
  color: #fff;
  font-style: italic;
  padding: 80px 0;
  margin-bottom: 50px;
}
#testimonial .tst-img {
  filter: grayscale(75%);
  width: 200px;
  height: 180px;
  border-radius: 100px;
}

#contact {
  margin-inline: auto;
  margin-bottom: 50px;
  padding: 80px 0;
}
#contact p {
  font-size: 0.85em;
}
#contact .btn {
  background: #ff4040;
  border: none;
  border-radius: 20px;
}
#contact .btn:hover {
  background: #0b1b2d;
  transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.8s;
}

#footer {
  background: #0b1b2d;
  color: #fff;
  font-size: 0.85em;
}
#footer img {
  width: 150px;
  height: 150px;
}
#footer .footr-menu {
  list-style: none;
  margin-bottom: 10px;
}
#footer .footr-menu .footr-link a {
  float: left;
  text-decoration: none;
  font-size: 0.85em;
  line-height: 1.5;
  color: #fff;
  padding: 10px;
}
#footer .footr-link a:hover {
  color: #ff4040;
  transition: color ease-in 0.3s;
}
#footer .list-layer {
  margin-left: 0px;
}

@media screen and (max-width: 480px) {
  #hero .title {
    font-size: 2.5rem;
  }
  #hero .layer {
    padding: 20px;
  }
  #hero .uniq {
    display: none;
  }
  #hero button {
    padding: 8px 10px;
  }
  #services .card {
    margin-inline: auto !important;
  }
  #testimonial .tst-img {
    margin-bottom: 25px;
  }
  #footer {
    display: block !important;
  }
  #footer .text-layer {
    margin-right: 0 !important;
  }
  #footer .list-layer {
    width: 100% !important;
    display: inline-flex;
    flex-wrap: nowrap;
  }
  #footer .footr-menu {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  #hero .title {
    font-size: 2.2em;
  }
  #hero .layer {
    padding: 30px;
    margin-bottom: 20px;
  }
  #hero button {
    padding: 8px 12px;
  }
  #services .card {
    width: 230px !important;
    margin-left: -5px;
  }
  #contact button {
    padding: 8px 16px;
  }
  #footer .text-layer {
    line-height: 1.8;
  }
  #footer .list-layer {
    width: 50% !important;
  }
}
@media screen and (max-width: 850px) {
  #hero .title {
    font-size: 2.2em;
  }
  #hero .layer {
    padding: 30px;
    margin-bottom: 20px;
  }
  #hero button {
    padding: 8px 12px;
  }
  #services .card {
    width: 230px !important;
    margin-left: -5px;
  }
  #contact button {
    padding: 8px 16px;
  }
  #footer .text-layer {
    line-height: 1.8;
  }
  #footer .list-layer {
    width: 50% !important;
  }
}/*# sourceMappingURL=style.css.map */